body{
    margin: 0;
    padding: 0;
    background: #2d3436;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  H1 {
    text-shadow:
      -1px -1px #FFF,
      -2px -2px #FFF,
      -1px 1px #FFF,
      -2px 2px #FFF,
      1px 1px #FFF,
      2px 2px #FFF,
      1px -1px #FFF,
      2px -2px #FFF,
      -3px -3px 2px #BBB,
      -3px 3px 2px #BBB,
      3px 3px 2px #BBB,
      3px -3px 2px #BBB;
    color: steelblue;
    transition: all 1s;
  }
  
  H1:hover {
    color: yellowgreen;
  }
  
  h2 {
    margin: 15px 0;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #c2a77a;
 }